@{
    ViewData["Title"] = "Dashboard";
}
<div class="secao-dashboard">
    <div id="loader" class="loader"></div>
    <div class="container-fluid" id="section-comercial">
        <div class="row first-chart">
            <div class="block chart_div col-sm-6">
                <div id="chart_div" class="align-chart-center"></div>
                <div class="bottom-block">
                    <div class="row align-divs-center">
                        <div class="bg-btns-area align-divs-center">
                            <div class="btn--group">
                                <input id="btn-vendedor-semana" class="btn-vendedor btn-vendedor-bg btn-vendedor-semana-bg" name="btn-vendedor" type="radio" />
                                <label for="btn-vendedor-semana">Semana</label>
                            </div>
                            <div class="btn--group">
                                <input id="btn-vendedor-mes" class="btn-vendedor btn-vendedor-bg btn-vendedor-mes-bg" name="btn-vendedor" type="radio" />
                                <label for="btn-vendedor-mes">Mês</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h1>200</h1>
                        </div>
                        <div class="col-6 separator-collum">
                            <h1>210</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Faturados</h2>
                        </div>
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Emitidos</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block columnChart_div col-sm-6">
                <div id="columnChart_div" class="align-chart-center"></div>
                <div class="bottom-block">
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h1>R$: 50.000,00</h1>
                        </div>
                        <div class="col-6 separator-collum">
                            <h1>R$: 55.000,00</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Faturados</h2>
                        </div>
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Emitidos</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block chartSmallPizza_div col-sm-6">
                <div id="chartSmallPizza_div" class="align-chart-center"></div>
                <div class="bottom-block">
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h1>200</h1>
                        </div>
                        <div class="col-6 separator-collum">
                            <h1>210</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Faturados</h2>
                        </div>
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Emitidos</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block chartSmallPier_div col-sm-6">
                <div id="chartSmallPier_div" class="align-chart-center"></div>
                <div class="bottom-block">
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h1>R$: 50.000,00</h1>
                        </div>
                        <div class="col-6 separator-collum">
                            <h1>R$: 55.000,00</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Faturados</h2>
                        </div>
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Emitidos</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block chartSmallPier_div col-sm-6">
                <div id="chartSmallPier_div" class="align-chart-center"></div>
                <div class="bottom-block">
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h1>R$: 50.000,00</h1>
                        </div>
                        <div class="col-6 separator-collum">
                            <h1>R$: 55.000,00</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Faturados</h2>
                        </div>
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Emitidos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>