@{
    ViewData["Title"] = "Dashboard";
}
<div class="secao-dashboard">
    <div id="loader" class="loader"></div>
    <div class="container-fluid" id="section-comercial">
        <div class="row block-title-dashboard block-bg">
            <div class="title-dashboard col-4">
                <h2><strong>Comercial</strong></h2>
            </div>
            <div class="icon-calendar-title col-8">
                <a href="#menu" id="toggle">
                    <h3><span id="displayData"> 01/01/0001 a 31/12/4000</span><i class="far fa-calendar-alt"></i></h3>
                </a>
                <div id="menu">
                    <div class="form-group">
                        <label>Data Inicial</label>
                        <input id="dataInicial" name="dataInicial" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Data Final</label>
                        <input id="dataFinal" name="dataFinal" type="date" class="form-control" />
                    </div>
                    <input id="atualizaData" type="submit" class="btn btn-success" value="OK" />
                </div>
            </div>
        </div>
        <div class="row first-chart">
            <div class="block col-sm-6">
                <div class="title-block">
                    <div class="">
                        <h2>Faturamento</h2>
                    </div>
                    <div class="txt-ultima-atualizacao">
                        <i class="far fa-clock"></i>
                        <h2 id="ultimaAtualizacao" class="ultimaAtualizacao">Última atualização: 08/03/2020 às 08:57 hs</h2>
                    </div>
                </div>
                <div class="middle-block">
                    <div class="col-1-faturamento-block">
                        <div>
                            <h2>Diário</h2>
                        </div>
                        <div>
                            <h2>Semanal</h2>
                        </div>
                        <div>
                            <h2>Mensal</h2>
                        </div>
                    </div>
                    <div class="col-2-faturamento-block">
                        <div>
                            <h2>R$: <span id="faturamento-dia"></span></h2>
                        </div>
                        <div>
                            <h2>R$: 4.915.025,00</h2>
                        </div>
                        <div>
                            <h2>R$: 25.900.005,00</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block chart_div col-sm-6">
                <div class="title-block">
                    <div>
                        <h2>Pedidos <strong>Emitidos</strong> x Pedidos <strong>Faturados</strong></h2>
                    </div>
                    <div class="txt-ultima-atualizacao">
                        <i class="far fa-clock"></i>
                        <h2 class="ultimaAtualizacao">Última atualização: 08/03/2020 às 08:57 hs</h2>
                    </div>
                </div>
                <div class="middle-block">
                    <div id="chart-pedidosFaturadosNaoFaturados" class="align-chart-center"></div>
                </div>
                <div class="bottom-block">
                    <div class="row align-divs-center">
                        <div class="bg-switch">
                            <input type="radio" id="dia" class="switch selected-switch-dia" name="switch" value="dia" checked>
                            <label for="dia">Dia</label><br>
                            <input type="radio" id="semana" class="switch selected-switch-semana" name="switch" value="semana">
                            <label for="semana">Semana</label><br>
                            <input type="radio" id="mes" class="switch selected-switch-mes" name="switch" value="mes">
                            <label for="mes">Mes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h1 id="qtdPedidosNaoFaturados">0</h1>
                        </div>
                        <div class="col-6 separator-collum">
                            <h1 id="qtdPedidosFaturados">0</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Emitidos</h2>
                        </div>
                        <div class="col-6 separator-collum">
                            <h2>Pedidos Faturados</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block chart_div col-sm-6">
                <div class="title-block">
                    <div>
                        <h2>Top 5 vendedores por maior valor de vendas</h2>
                    </div>
                    <div class="txt-ultima-atualizacao">
                        <i class="far fa-clock"></i>
                        <h2 class="ultimaAtualizacao">Última atualização: 08/03/2020 às 08:57 hs</h2>
                    </div>
                </div>
                <div class="middle-block">
                    <div id="chart-top5Vendedores" class="align-chart-center"></div>
                </div>
                <div class="bottom-block">
                    <div class="row align-divs-center">
                        <div class="bg-switch">
                            <input type="radio" id="chart-vendedores-dia" class="switch selected-switch-vendedores-dia" name="switch-vendedores" value="dia" checked>
                            <label for="chart-vendedores-dia">Dia</label><br>
                            <input type="radio" id="chart-vendedores-semana" class="switch selected-switch-vendedores-semana" name="switch-vendedores" value="semana">
                            <label for="chart-vendedores-semana">Semana</label><br>
                            <input type="radio" id="chart-vendedores-mes" class="switch selected-switch-vendedores-mes" name="switch-vendedores" value="mes">
                            <label for="chart-vendedores-mes">Mes</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>